{% extends "base.html" %}

{% load common django_bootstrap5 static icons %}

{% block content %}

<div class="row">
  <div class="col-sm-10">
    {% searchform terms %}
    {% gen_table page.object_list %}
    <div class="card centered">
      {% object_count page %}
    </div>
    <div>
      {% get_querystring request as querystring %}
      {% bootstrap_pagination page size='sm' extra=querystring justify_content='center'%}
    </div>
    <div class="card centered">
      Page {{ page.number }} of {{ page.paginator.num_pages }}
    </div>
  </div>

  {% if filter_bar %}
    <div class="col-sm-2">
      <div class="card">
        <div class="card-header" style="background-color: #006699">Filter by...</div>
        <div class="card-body">
        {{ filter_bar|safe }}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% block objectlist_actions %}{% endblock %}

{% endblock %}
