{% extends "base.html" %}

{% load common bootstrap3 static django_tables2 %}

{% block content %}

<div class="row">
  <div class="{% if filter_bar %}col-sm-10{% else %}col-sm-12{% endif %}">
    {% get_querydict request as querydict %}
    {% searchform terms querydict %}
    {% render_table table %}
  </div>

  {% if filter_bar %}
    <div class="col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Filter by...</div>
        <div class="panel-body">
        {{ filter_bar|safe }}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% block objectlist_actions %}{% endblock %}

{% endblock %}
