.right { text-align: right; }

.red { color: red; }
.green { color: green; }

.float-right { float:right; }
.float-left { float:left; }

.small { font-size: 14px !important; }

.deletelink { padding-left:12px; background:url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat; }
a.deletelink:link, a.deletelink:visited { color:#CC3434; }
a.deletelink:hover { color:#993333; }

/* TABLES */
table { border-collapse:collapse; border-color:#ccc; }
td, th { font-size:11px; line-height:13px; border-bottom:1px solid #eee; vertical-align:top; padding:5px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }
th { text-align:left; font-size:12px; font-weight:bold; }
thead th, 
tfoot td { color:#666; padding:2px 5px; font-size:11px; background:#e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
tfoot td { border-bottom:none; border-top:1px solid #ddd; }
thead th:first-child, 
tfoot td:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
fieldset table { border-right:1px solid #eee; }
tr.row-label td { font-size:9px; padding-top:2px; padding-bottom:0; border-bottom:none; color:#666; margin-top:-1px; }
tr.alt { background:#f6f6f6;}
.row1 { background:#EDF3FE; }
.row2 { background:white; }


/* MESSAGES & ERRORS */
ul.messagelist { padding:0 0 5px 0; margin:0; }
ul.messagelist li { font-size:12px; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border-bottom:1px solid #ddd; border-right:1px solid #ddd; color:#666; background:#ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat; }
.errornote { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
ul.errorlist { margin:0 !important; padding:0 !important; }
.errorlist li { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:white; background:red url(../img/admin/icon_alert.gif) 5px .3em no-repeat; }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }
.error { background:#ffc; }
.error input, .error select { border:1px solid red; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { font-size:12px; padding:5px 0 0 12px; }

/* ACTION ICONS */
.addlink { padding-left:12px; background:url(../img/admin/icon_addlink.gif) 0 .2em no-repeat; }
.changelink { padding-left:12px; background:url(../img/admin/icon_changelink.gif) 0 .2em no-repeat; }
.deletelink { padding-left:12px; background:url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat; }
a.deletelink:link, a.deletelink:visited { color:#CC3434; }
a.deletelink:hover { color:#993333; }

.heading { font-size:14px; color:#666; padding:0 2px 0 0; margin:0 0 .1em 0; font-weight: bold; float:none !important; display:inline; }
h2.alert { background-color: #ffc; border-bottom:1px solid #ddd; border-right:1px solid #ddd; } 

.graph_key_red { background-color: red; }
.graph_key_blue { background-color: blue; }
.graph_key_green { background-color: green; }
.graph_key_yellow { background-color: yellow; }
.graph_key_orange { background-color: orange; }
.graph_key_cyan { background-color: cyan; }
.graph_key_magenta { background-color: magenta; }
.graph_key_purple { background-color: purple; }
.graph_key_grey { background-color: grey; }
.graph_key_pink { background-color: pink; }

.border { border: thin solid black; padding: 10px; }

.yeslink { padding-left:12px; background:url(../img/admin/icon-yes.gif) 0 .2em no-repeat; }
.nolink { padding-left:12px; background:url(../img/admin/icon-no.gif) 0 .2em no-repeat; }

.barwidth { padding-left: 0px; padding-right: 0px; margin: 0px; width: 100px; background-color: white; }