.git
.github
.gitignore
*.pyc
__pycache__
*.pyo
*.pyd
.Python
*.egg-info
dist/
build/
.tox
.pytest_cache
.coverage
htmlcov/
.env
.env.*
!.env.example
debian/
*.md
TODO
AUTHORS
COPYING
MANIFEST.in
tox.ini
patchman-client.spec
run/
