include README.md
include AUTHORS
include COPYING
include MANIFEST.in
include INSTALL
include UPGRADE
include VERSION.txt
include requirements.txt
recursive-include scripts *
recursive-include patchman *
recursive-include sbin *
recursive-include etc *
recursive-include media *
