include README.md
include AUTHORS
include COPYING
include MANIFEST.in
include INSTALL.md
include VERSION.txt
include requirements.txt
recursive-include scripts *
recursive-include patchman *
recursive-include sbin *
recursive-include etc *
