Django==1.11.27
django-tagging==0.4.6
django-extensions==2.2.1
django-bootstrap3==11.1.0
progressbar==2.5
python-debian==0.1.35
lxml==4.4.1
defusedxml==0.6.0
chardet==3.0.4
requests==2.22.0
colorama==0.4.1
djangorestframework==3.9.3
humanize==0.5.1
version-utils==0.3.0
python-magic==0.4.15
python-memcached==1.59
