Django==2.2.14
django-tagging==0.4.6
django-extensions==3.0.2
django-bootstrap3==12.0.3
progressbar==2.5
python-debian==0.1.36
lxml==4.5.0
defusedxml==0.6.0
chardet==3.0.4
requests==2.22.0
colorama==0.4.3
djangorestframework==3.11.0
humanize==1.0.0
version-utils==0.3.0
python-magic==0.4.15
python-memcached==1.59