{% load common %}
<table cellspacing="0">
        <thead>
                <tr>
                   <th>Hostname</th><th colspan="2">Updates</th><th>Running Kernel</th><th>OS</th><th>Last Report</th><th>Reboot Status</th>
                </tr>
        </thead>
    <tbody>
    {% for host in object_list %}
                <tr class="{% cycle row1,row2 %}">
                    <td><a href="{{ host.get_absolute_url }}">{{ host }}</a></td>
                    <td style="color:red">{% with host.sec_count as tmp %}{% if tmp != 0 %}{{ tmp }}{% endif %}{% endwith %}</td>
                    <td style="color:orange">{% with host.nonsec_count as tmp %}{% if tmp != 0 %}{{ tmp }}{% endif %}{% endwith %}</td>
                    <td>{{ host.kernel }}</td>
                    <td><a href="{{ host.os.get_absolute_url }}">{{ host.os }}</a></td>
                    <td>{{ host.lastreport }}</td>
                    <td>{% yes_no_img,True host.reboot_required %}</td>
                </tr>
    {% endfor %}
    </tbody>
</table>
