{% extends "base.html" %}

{% load common django_bootstrap5 icons %}

{% block page_title %}Repository - {{ repo }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li class="breadcrumb-item"><a href="{% url 'repos:repo_list' %}">Repositories</a></li><li class="breadcrumb-item active">{{ repo }}</li>{% endblock %}

{% block content_title %}Repository - {{ repo }} {% endblock %}

{% block content %}

<div class="card">
  <table class="table table-striped table-bordered table-hover table-sm table-responsive">
    <tr><th>Name</th><td> {{ repo.name }} </td></tr>
    <tr><th>ID</th><td> {% if repo.id != None %} {{ repo.id }} {% endif %}</td></tr>
    <tr><th>Type</th><td> {{ repo.get_repotype_display }} </td></tr>
    <tr><th>Architecture</th><td> {{ repo.arch }} </td></tr>
    <tr><th>Security</th><td> {% yes_no_img repo.security 'Security' 'Not Security' %} </td></tr>
    <tr><th>Enabled</th><td> {% yes_no_img repo.enabled 'Enabled' 'Not Enabled' %} </td></tr>
    <tr><th>Mirrors</th><td> {{ repo.mirror_set.count }} </td></tr>
    <tr><th>Requires Authentication</th><td> {{ repo.auth_required }} </td></tr>
  </table>

  <div class="card bg-danger">
    {% if user.is_authenticated and perms.is_admin %}
      <div class="card-header">
        Are you sure you want to delete this Repository? This will also delete all Mirrors linked to this Repository.
      </div>
      <div class="card-body">
        <form action={{ request.path }} method="post">
          {% csrf_token %}
          <button name="delete" type="submit" class="btn btn-outline-primary btn-sm">{% icon "trash" %} Delete</button>
          <button name="cancel" type="submit" class="btn btn-outline-primary btn-sm">{% icon "stop" %} Cancel</button>
        </form>
      </div>
    {% else %}
      <div class="card-header">
        You do not have permission to delete this Repository.
      </div>
      <div class="card-body">
        <a class="btn btn-outline-primary btn-sm" href="{{ repo.get_absolute_url }}">{% icon "arrow-left" %} Back</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
