{% extends "base.html" %}
{% load django_tables2 common %}

{% block page_title %}Repositories{% endblock %}

{% block breadcrumbs %} {{ block.super }} <li class="active"><a href="{% url 'repos:repo_list' %}">Repositories</a></li>{% endblock %}

{% block content_title %} Repositories {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10">
    {% get_querydict request as querydict %}
    {% searchform terms querydict %}

    <form id="bulk-action-form" method="post" action="{% url 'repos:repo_bulk_action' %}">
        {% csrf_token %}
        <input type="hidden" name="filter_params" value="{{ filter_params }}">

        {% include "bulk_actions.html" %}

        {% render_table table %}
    </form>
  </div>

  {% if filter_bar %}
    <div class="col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Filter by...</div>
        <div class="panel-body">
        {{ filter_bar|safe }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
