{% extends "base.html" %}

{% load common bootstrap3 %}

{% block page_title %}CVE - {{ cve }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li><a href="{% url 'security:security_landing' %}">Security</a></li><li><a href="{% url 'security:cve_list' %}">CVEs</a></li><li class="active">{{ cve }}</li>{% endblock %}

{% block content_title %} CVE - {{ cve }} {% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#cve_details">Details</a></li>
  <li><a data-toggle="tab" href="#cve_affected_packages">Packages Affected ({{ affected_packages|length }})</a></li>
  <li><a data-toggle="tab" href="#cve_fixed_packages">Packages Fixed ({{ fixed_packages|length }})</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="cve_details">
    <div class="well well-sm">
      <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr><th class="col-sm-1">CVE ID</th><td>{{ cve.cve_id }}</td></tr>
        <tr><th class="col-sm-1">Description</th><td>{{ cve.description }}</td></tr>
        <tr><th class="col-sm-1">Reserved</th><td>{{ cve.reserved_date|date|default_if_none:'' }}</td></tr>
        <tr><th class="col-sm-1">Rejected</th><td>{{ cve.rejected_date|date|default_if_none:'' }}</td></tr>
        <tr><th class="col-sm-1">Published</th><td>{{ cve.published_date|date|default_if_none:'' }}</td></tr>
        <tr><th class="col-sm-1">Updated</th><td>{{ cve.updated_date|date|default_if_none:'' }}</td></tr>
        <tr>
          <th class="col-sm-1">CVSS Scores</th>
          <td>
            {% for score in cve.cvss_scores.all %}
              {% if score.version|stringformat:"d" == "2" %}
                <a href="https://nvd.nist.gov/vuln-metrics/cvss/V2-calculator?vector=({{ score.vector_string }})">{{ score.score }} (CVSS {{ score.version }}) {% bootstrap_icon "link" %}</a><br />
              {% else %}
                <a href="https://www.first.org/cvss/calculator/{{ score.version }}#{{ score.vector_string }}">{{ score.score }} - {{ score.severity }} (CVSS {{ score.version }}) {% bootstrap_icon "link" %}</a><br />
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th class="col-sm-1">CWEs</th>
          <td>
            {% for cwe in cve.cwes.all %}
              <a href="{{ cwe.get_absolute_url }}">{{ cwe.cwe_id }} - {{ cwe.name }}</a><a href="https://cwe.mitre.org/data/definitions/{{ cwe.int_id }}.html">&nbsp;{% bootstrap_icon "link" %}</a><br />
            {% endfor %}
          </td>
        </tr>
        <tr><th class="col-sm-1">Affected Packages</th><td><a href="{% url 'packages:package_list' %}?cve_id={{ cve.cve_id }}&type=affected">{{ affected_packages|length }}</a></td>
        <tr><th class="col-sm-1">Fixed Packages</th><td><a href="{% url 'packages:package_list' %}?cve_id={{ cve.cve_id }}&type=fixed">{{ fixed_packages|length }}</a></td>
        <tr><th class="col-sm-1">Errata</th><td><a href="{% url 'errata:erratum_list' %}?cve_id={{ cve.cve_id }}">{{ cve.erratum_set.count }}</a></td>
        <tr>
          <th class="col-sm-2">OSes Affected</th>
          <td>
            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
              {% for osrelease in osreleases %}
                <tr>
                  <td><a href="{{ osrelease.get_absolute_url }}">{{ osrelease }}</a><td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <th class="col-sm-2">Links</th>
          <td>
            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
              <tr><td>NIST</td><td><a href="https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }}">https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }} {% bootstrap_icon "link" %}</a></td></tr>
              <tr><td>MITRE</td><td><a href="https://www.cve.org/CVERecord?id={{ cve.cve_id }}">https://www.cve.org/CVERecord?id={{ cve.cve_id }} {% bootstrap_icon "link" %}</a></td></tr>
              <tr><td>osv.dev</td><td><a href="https://osv.dev/vulnerability/{{ cve.cve_id }}">https://osv.dev/vulnerability/{{ cve.cve_id }} {% bootstrap_icon "link" %}</a></td></tr>
              {% for reference in references %}
                <tr>
                  <td>{{ reference.ref_type }}</td>
                  <td><a href="{{ reference.url }}">{{reference.url}} {% bootstrap_icon "link" %}</a></td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="cve_affected_packages">
    <div class="well well-sm">
      {% for package in affected_packages %}
        <span class="label label-brick {% cycle 'bg-info' 'bg-success' %}">
          <a href="{{ package.get_absolute_url }}">{{ package }}</a>
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="cve_fixed_packages">
    <div class="well well-sm">
      {% for package in fixed_packages %}
        <span class="label label-brick {% cycle 'bg-info' 'bg-success' %}">
          <a href="{{ package.get_absolute_url }}">{{ package }}</a>
        </span>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
