{% load common %}
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th class="col-sm-1">CVE ID</th>
      <th class="col-sm-2">Links</th>
      <th class="col-sm-3">Description</th>
      <th class="col-sm-1">CVSS Scores</th>
      <th class="col-sm-1">CWEs</th>
      <th class="col-sm-1">Reserved</th>
      <th class="col-sm-1">Rejected</th>
      <th class="col-sm-1">Published</th>
      <th class="col-sm-1">Updated</th>
      <th class="col-sm-1">Errata</th>
    </tr>
  </thead>
  <tbody>
    {% for cve in object_list %}
      <tr>
        <td><a href="{{ cve.get_absolute_url }}">{{ cve.cve_id }}</a></td>
        <td>
          <a href="https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }}">NIST <span class="glyphicon glyphicon-link"></span></a>&nbsp;&nbsp;
          <a href="https://www.cve.org/CVERecord?id={{ cve.cve_id }}">MITRE <span class="glyphicon glyphicon-link"></span></a>&nbsp;&nbsp;
          <a href="https://osv.dev/vulnerability/{{ cve.cve_id }}">osv.dev <span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td><span class="expandable-text" data-full-text="{{ cve.description }}}">{{ cve.description|truncatechars:60 }}</span></td>
        <td>{% for score in cve.cvss_scores.all %} {{ score.score }} {% endfor %}</td>
        <td>{% for cwe in cve.cwes.all %} {{ cwe.cwe_id }} {% endfor %}</td>
        <td>{{ cve.reserved_date|date|default_if_none:'' }}</td>
        <td>{{ cve.rejected_date|date|default_if_none:'' }}</td>
        <td>{{ cve.published_date|date|default_if_none:'' }}</td>
        <td>{{ cve.updated_date|date|default_if_none:'' }}</td>
        <td><a href="{% url 'errata:erratum_list' %}?cve_id={{ cve.cve_id }}">{{ cve.erratum_set.count }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
