{% extends "base.html" %}

{% load django_bootstrap5 icons %}

{% block page_title %}Login{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">Please enter your username and password to login.</div>
  <div class="card-body">
    {% if form.errors %}
      <div class="card">Your username and password didn't match. Please try again.</div>
    {% endif %}
    {% if next and user.is_authenticated %}
      <div>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</div>
    {% endif %}
  </div>
  <div>
    <div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group">
          <input class="form-control input-sm" placeholder="Username" id="id_username" name="username" type="text" maxlength="254">
          <input class="form-control input-sm" placeholder="Password" id="id_password" name="password" type="password">
          <br /><br />
          <button class="btn btn-outline-primary btn-sm" type="submit">{% icon "user" %} Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('id_username').focus()
</script>

{% endblock %}
