Source: patchman
Section: python
Priority: optional
Maintainer: Marcus Furlong <furlongm@gmail.com>
Uploaders: Marcus Furlong <furlongm@gmail.com>
Build-Depends: debhelper (>=12), python3 (>= 3.6), dh-python, dh-exec
Standards-Version: 4.3.0
Homepage: https://github.com/furlongm/patchman
Vcs-Git: git://github.com/furlongm/patchman
Vcs-Browser: https://github.com/furlongm/patchman
X-Python3-Version: >= 3.6

Package: python3-patchman
Architecture: all
Homepage: https://github.com/furlongm/patchman
Depends: ${misc:Depends}, python3 (>= 3.6), python3-django (>= 2.2),
 python3-django-tagging, python3-django-extensions, python3-django-bootstrap3,
 python3-djangorestframework, python3-debian, python3-rpm, python3-progressbar,
 python3-lxml, python3-defusedxml, python3-requests, python3-colorama,
 python3-magic, python3-humanize, python3-pip, python3-memcache, memcached,
 libapache2-mod-wsgi-py3, apache2
Suggests: python3-django-celery, python3-mysqldb, python3-psycopg2
Description: Django-based patch status monitoring tool for linux systems.
 .
 Patchman provides a web interface for monitoring host package updates.
 .
 Patchman clients send a list of installed packages and enabled repositories to
 the patchman server. The patchman server updates its package list for each
 repository and determines which hosts require updates, whether those updates
 are normal or security updates, and shows installed packages that are not part
 of any repository. Hosts, packages, repositories and operating systems can all
 be filtered (using features or arbitrary tags). For example, it is possible to
 find out which hosts have a certain version of a package installed, and which
 repository it comes from.
 .
 Patchman does not install update packages on hosts, it determines and records
 what updates are available for each host. The patchman yum and apt plugins can
 optionally send reports to the patchman server every time packages are
 installed or removed.

Package: patchman-client
Architecture: all
Homepage: https://github.com/furlongm/patchman
Depends: ${misc:Depends}, curl, util-linux
Description: Client for the patchman monitoring system.
 .
 The client will send a list of packages and repositories to the upstream
 patchman server.
