Source: patchman
Section: python
Priority: optional
Maintainer: Marcus Furlong <furlongm@vpac.org>
Uploaders: Sam Morrison <sam@vpac.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.4), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.9.2

Package: patchman
Architecture: all
Homepage: http://code.vpac.org/trac/patchman/
Depends: ${misc:Depends}, ${python:Depends}, python, python-django (>= 1.2.1), python-django-south (>= 0.7), python-django-tagging (>= 0.3.1), python-debian (>= 0.1.18) , python-rpm (>= 4.8.1), python-progressbar (>= 2.2), python-lxml (>=2.2.8), django-andsome (>= 1.1.17), python-argparse (>= 1.1), libapache2-mod-wsgi (>=3.3), python-django-extensions
Suggests: python-django-celery
Description: Patchman is a django-based patch status monitoring tool for linux systems.
 Patchman clients send a list of installed packages and enabled repositories to
 the patchman server. The patchman server (CLI or web) updates it's package list 
 for each repository and tells the user which hosts require updates, whether
 those updates are normal or security updates, and shows installed packages that
 are not part of any repository. Hosts, packages, repositories and operating
 systems can all be filtered (using features or arbitrary tags). For example, you
 can find out which hosts have a certain version of a package installed, and
 which repository it comes from.
 .
 Patchman does not (yet!) have the ability to update packages on hosts, although
 it is possible to use a yum or apt plugin to send a report to the patchman
 server every time changes are made to packages installed on a system. There are
 plans for a module for patchman<->puppet integration to allow remote
 installation of packages.
 .
 The current code is available through gitorious:
 https://code.vpac.org/gitorious/patchman
