#!/usr/bin/make -f
# -*- makefile -*-

clean::
	find -name *.pyc -exec rm {} \;
	rm -rf debian/python3-patchman build MANIFEST dist .pybuild patchman.egg-info .tox
	dh_clean

export PYBUILD_NAME=patchman

%:
	dh $@ --with=python3 --buildsystem=pybuild --with=systemd

override_dh_auto_test:
	true
