{% extends "base.html" %}

{% load common django_bootstrap5 icons %}

{% block page_title %}Operating System - {{ os }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li class="breadcrumb-item"><a href="{% url 'operatingsystems:os_list' %}">Operating Systems</a></li><li class="breadcrumb-item active">

{% if os %}
    {{ os }}
{% endif %}

{% if oses %}
    Multiple
{% endif %}

</li>{% endblock %}

{% block content_title %}Operating System - {{ os }}{% endblock %}

{% block content %}

{% if os %}
  <div class="card">
    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
      <tr><th>Name</th><td> {{ os.name }} </td></tr>
      <tr><th>Hosts</th><td>{% if os.host_set.count != None %} {{ os.host_set.count }} {% else %} 0 {% endif %}</td>
      <tr><th>OS Group</th><td>{% if os.osgroup != None %}<a href="{{ os.osgroup.get_absolute_url }}"> {{ os.osgroup }} </a>{% else %}No OS Group{% endif %}</td></tr>
    </table>
{% endif %}

{% if oses %}
  <div class="card">
    <table class="table table-striped table-bordered table-hover table-sm table-responsive">
      <tr>
        <th>Name</th><th>Hosts</th><th>OS Group</th>
      </tr>
      {% for os in oses %}
        <tr>
          <td><a href="{{ os.get_absolute_url }}"> {{ os }} </a></td>
          <td>{% if os.host_set.count != None %} {{ os.host_set.count }} {% else %} 0 {% endif %}</td>
          <td>{% if os.osgroup != None %}<a href="{{ os.osgroup.get_absolute_url }}"> {{ os.osgroup }} </a>{% else %}No OS Group{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
{% endif %}

  <div class="card bg-danger">
    {% if user.is_authenticated and perms.is_admin %}
      <div class="card-header">
        Are you sure you want to delete
        {% if os %}
          this Operating System?
        {% endif %}
        {% if oses %}
          these Operating Systems?
        {% endif %}
      </div>
      <div class="card-body">
        <form action={{ request.path }} method="post">
         {% csrf_token %}
          <button name="delete" type="submit" class="btn btn-outline-primary btn-sm">{% icon "trash" %} Delete</button>
          <button name="cancel" type="submit" class="btn btn-outline-primary btn-sm">{% icon "stop" %} Cancel</button>
        </form>
      </div>
    {% else %}
      <div class="card-header">
        You do not have permission to delete Operating Systems.
      </div>
      <div class="card-body">
        <a class="btn btn-outline-primary btn-sm" href="{{ os.get_absolute_url }}">{% icon "arrow-left" %} Back</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
