{% extends "objectlist.html" %}

{% load common django_bootstrap5 icons %}

{% block page_title %}Operating Systems{% endblock %}

{% block content_title %} Operating Systems {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li class="breadcrumb-item active"><a href="{% url 'operatingsystems:os_list' %}">Operating Systems</a></li> {% endblock %}

{% block objectlist_actions %}

{% if user.is_authenticated and perms.is_admin and empty_oses %}
  <div class="card">
    <a class="btn btn-outline-primary btn-sm" role="button" href="empty_oses/delete/">{% icon "trash" %} Delete OS's with no Hosts</a>
  </div>
{% endif %}

{% endblock %}
