{% extends "base.html" %}

{% load common bootstrap3 %}

{% block extrahead %} {{ repos_form.media }} {% endblock %}

{% block page_title %}OS Release - {{ osrelease }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li><a href="{% url 'operatingsystems:os_landing' %}">Operating Systems</a></li><li><a href="{% url 'operatingsystems:osrelease_list' %}">OS Releases</a></li><li class="active">{{ osrelease }}</li>{% endblock %}

{% block content_title %} OS Release - {{ osrelease }}{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#osrelease_details">Details</a></li>
  <li><a data-toggle="tab" href="#osrelease_osvariants">Variants</a></li>
  <li><a data-toggle="tab" href="#osrelease_repos">Repositories</a></li>
</ul>

<div class="tab-content">

  <div class="tab-pane fade in active" id="osrelease_details">
    <div class="well well-sm">
      <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr>
          <th>Name</th><td>{{ osrelease }}</td>
        </tr>
        <tr>
          <th class="col-sm-6">Variants</th><td class="col-sm-6">{{ osrelease.osvariant_set.count }}</td>
        </tr>
      </table>
      {% if user.is_authenticated and perms.is_admin %}
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'operatingsystems:osrelease_delete' osrelease.id %}">{% bootstrap_icon "trash" %} Delete this OS Release</a>
      {% endif %}
    </div>
  </div>

  <div class="tab-pane fade in" id="osrelease_osvariants">
    <div class="well well-sm">
      {% if osrelease.osvariant_set.count == 0 %}
        {{ osrelease }} has no Variants</div>
      {% else %}
        {% gen_table osrelease.osvariant_set.select_related %}
      {% endif %}
    </div>
  </div>

  <div class="tab-pane fade in" id="osrelease_repos">
    <div class="well well-sm">
      {% if osrelease.repos.count == 0 %}
        {{ osrelease }} has no Repositories</div>
      {% else %}
        {% gen_table osrelease.repos.select_related %}
      {% endif %}
      {% if user.is_authenticated and perms.is_admin %}
        <div class="well well-sm">
          <form action={{ request.path }} method="post">
            {% csrf_token %}
            {% bootstrap_form repos_form size='large' %}
            <button type="submit" class="btn btn-primary btn-sm">{% bootstrap_icon "floppy-disk" %} Modify Repositories</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}
