{% extends "base.html" %}

{% load common bootstrap3 %}

{% block page_title %}OS Release - {{ osrelease }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li><a href="{% url 'operatingsystems:os_landing' %}">Operating Systems</a></li><li><a href="{% url 'operatingsystems:osrelease_list' %}">OS Releases</a></li><li class="active">{{ osrelease }}</li>{% endblock %}

{% block content_title %} OS Release - {{ osrelease }} {% endblock %}

{% block content %}

<div class="well well-sm">
  <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <tr><th>Name</th><td>{{ osrelease }}</td></tr>
    <tr><th>CPE Name</th><td>{% if osrelease.cpe_name %}{{ osrelease.cpe_name }}{% endif %}</td></tr>
    <tr><th>Codename</th><td>{% if osrelease.codename %}{{ osrelease.codename }}{% endif %}</td></tr>
    <tr><th>OS Variants</th><td><a href="{% url 'operatingsystems:osvariant_list' %}?osrelease_id={{ osrelease.id }}">{{ osrelease.osvariant_set.count }}</a></td></tr>
    <tr><th>Repositories</th><td><a href="{% url 'repos:repo_list' %}?osrelease_id={{ osrelease.id }}">{{ osrelease.repos.count }}</a></td></tr>
    <tr><th>Hosts</th><td><a href="{% url 'hosts:host_list' %}?osrelease_id={{ osrelease.id }}">{{ host_count }}</a></td></tr>
    <tr><th>Errata</th><td><a href="{% url 'errata:erratum_list' %}?osrelease_id={{ osrelease.id }}">{{ osrelease.erratum_set.count }}</a></td></tr>
  </table>

  <div class="panel panel-danger">
    {% if user.is_authenticated and perms.is_admin %}
      <div class="panel-heading">
        Are you sure you want to delete this OS Release?
      </div>
      <div class="panel-body">
        <form action={{ request.path }} method="post">
          {% csrf_token %}
          <button name="delete" type="submit" class="btn btn-primary btn-sm">{% bootstrap_icon "trash" %} Delete</button>
          <button name="cancel" type="submit" class="btn btn-primary btn-sm">{% bootstrap_icon "stop" %} Cancel</button>
        </form>
      </div>
    {% else %}
      <div class="panel-heading">
        You do not have permission to delete this OS Release.
      </div>
      <div class="panel-body">
        <a class="btn btn-primary btn-sm" href="{{ osrelease.get_absolute_url }}">{% bootstrap_icon "arrow-left" %} Back</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
