{% extends "base.html" %}
{% load django_tables2 common bootstrap3 %}

{% block page_title %}OS Variants{% endblock %}

{% block content_title %} OS Variants {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li><a href="{% url 'operatingsystems:os_landing' %}">Operating Systems</a></li><li><a href="{% url 'operatingsystems:osvariant_list' %}">OS Variants</a></li> {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    {% if user.is_authenticated and perms.is_admin and nohost_osvariants %}
      <div class="well well-sm">
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'operatingsystems:delete_nohost_osvariants' %}">{% bootstrap_icon "trash" %} Delete OS Variants with no Hosts</a>
      </div>
    {% endif %}

    {% get_querydict request as querydict %}
    {% searchform terms querydict %}

    <form id="bulk-action-form" method="post" action="{% url 'operatingsystems:osvariant_bulk_action' %}">
        {% csrf_token %}
        <input type="hidden" name="filter_params" value="{{ filter_params }}">

        {% include "bulk_actions.html" %}

        {% render_table table %}
    </form>
  </div>
</div>
{% endblock %}
