{% extends "base.html" %}

{% load common bootstrap3 %}

{% block page_title %}Host - {{ host }} {% endblock %}

{% block breadcrumbs %} {{ block.super }} <li><a href="{% url 'hosts:host_list' %}">Hosts</a></li><li class="active">{{ host }}</li>{% endblock %}

{% block content_title %} Host - {{ host }} {% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#host_details">Details</a></li>
  <li><a data-toggle="tab" href="#host_packages">Packages / Updates</a></li>
  <li><a data-toggle="tab" href="#host_repos">Repos</a></li>
  <li><a data-toggle="tab" href="#host_modules">Modules</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="host_details">
    <div class="well well-sm">
      <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <tr><th>Hostname</th><td> {{ host.hostname }} </td></tr>
        <tr><th>Domain</th><td> <a href="{% url 'hosts:host_list' %}?domain_id={{ host.domain.id }}">{{ host.domain }}</a> </td></tr>
        <tr><th>Reporting IP Address</th><td> {{ host.ipaddress }} </td></tr>
        <tr><th>Reverse DNS</th><td> {{ host.reversedns }} </td></tr>
        <tr><th>OS Release</th><td> <a href="{{ host.osvariant.osrelease.get_absolute_url }}">{{ host.osvariant.osrelease }}</a> </td></tr>
        <tr><th>OS Variant</th><td> <a href="{{ host.osvariant.get_absolute_url }}">{{ host.osvariant }}</a> </td></tr>
        <tr><th>Kernel</th><td> {{ host.kernel }} </td></tr>
        <tr><th>Architecture</th><td> {{ host.arch }} </td></tr>
        <tr>
          <th>Tags</th>
          <td>
          {% for tag in host.tags.all %}
            <a href="{% url 'hosts:host_list' %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
          </td>
        </tr>
        <tr><th>Updated</th><td> {{ host.updated_at }} </td></tr>
        <tr><th>Last Report</th><td> {{ host.lastreport }} </td></tr>
        <tr><th>Packages Installed</th><td> <a href="{% url 'packages:package_list' %}?host={{ host }}">{{ host.packages.count}}</a> </td></tr>
        <tr><th>Updates Available</th><td> <a href="#host_packages" id="updates-link">{{ host.updates.count }}</a> </td></tr>
        <tr><th>Errata</th><td><a href="{% url 'errata:erratum_list' %}?host={{ host.hostname }}">{{ host.errata.count }}<a/></td>
        <tr><th>Reboot Required</th><td> {{ host.reboot_required }} </td></tr>
        <tr><th>Repos In Use</th><td>{% if host.host_repos_only %}Host Repos{% else %}Host and OS Release Repos{% endif %}</td></tr>
        <tr>
          <th>Last 3 reports</th>
          <td>
            <ul class="package-list">
              {% for report in reports %}
                <li><a href="{{ report.get_absolute_url}}">{{ report.created }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
      {% if user.is_authenticated and perms.is_admin %}
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'hosts:host_delete' host.hostname %}">{% bootstrap_icon "trash" %} Delete this Host</a>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'hosts:host_edit' host.hostname %}">{% bootstrap_icon "edit" %} Edit this Host</a>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'hosts:host_updates' host.hostname %}">{% bootstrap_icon "refresh" %} Find Updates for this Host</a>
      {% endif %}
    </div>
  </div>

  <div class="tab-pane fade in" id="host_packages">
    <div class="well well-sm">
      <div class="form-inline" style="margin-bottom: 10px;">
        <label class="checkbox-inline">
          <input type="checkbox" id="updates-only"> Show only packages with updates
        </label>
      </div>
      <table class="table table-striped table-bordered table-hover table-condensed table-responsive" id="packages-table" style="table-layout: fixed;">
        <thead>
          <tr>
            <th class="min-width-col" style="width: 30px;"></th><th style="width: 50%;">Installed Package</th><th style="width: 50%;">Update Available</th>
          </tr>
        </thead>
        <tbody>
        {% for package in packages_with_updates %}
          <tr data-has-update="{{ package.update|yesno:'yes,no' }}">
            <td class="min-width-col centered">
            {% if package.update %}
              {% if package.update.security %}
                <span class="glyphicon glyphicon-flag" style="color: #cc0000;" title="Security Update"></span>
              {% else %}
                <span class="glyphicon glyphicon-flag" style="color: #ff9933;" title="Bugfix Update"></span>
              {% endif %}
            {% endif %}
            </td>
            <td>
              <a href="{{ package.name.get_absolute_url }}">{{ package }}</a>
            </td>
            <td>
            {% if package.update %}
              <a href="{{ package.update.newpackage.name.get_absolute_url }}">{{ package.update.newpackage }}</a>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in" id="host_repos">
    <div class="well well-sm">
      <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
          <tr>
            <th>Name</th><th>Type</th><th>Priority</th><th>Enabled</th><th>Security</th>
          </tr>
        </thead>
        <tbody>
        {% if hostrepos %}
          {% for hostrepo in hostrepos %}
            <tr>
              <td> <a href="{{ hostrepo.repo.get_absolute_url }}">{{ hostrepo.repo.name }}</a> </td>
              <td>Host</td>
              <td>{{ hostrepo.priority }}</td>
              <td class="centered"> {% yes_no_img hostrepo.enabled %} </td>
              <td class="centered"> {% yes_no_img hostrepo.repo.security %} </td>
            </tr>
          {% endfor %}
        {% endif %}
        {% with osrelease_repos=host.osvariant.osrelease.repos.select_related %}
          {% if osrelease_repos and not host.host_repos_only %}
            {% for osrelease_repo in osrelease_repos %}
              {% if osrelease_repo.arch == host.arch or osrelease_repo.arch == 'any' %}
                <tr>
                  <td> <a href="{{ osrelease_repo.get_absolute_url }}">{{ osrelease_repo.name }}</a> </td>
                  <td>OS Release</td>
                  <td>N/A</td>
                  <td class="centered"> {% yes_no_img osrelease_repo.enabled %} </td>
                  <td class="centered"> {% yes_no_img osrelease_repo.security %} </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in" id="host_modules">
    <div class="well well-sm">
      {% gen_table host.modules.all %}
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#updates-only').change(function() {
        var showUpdatesOnly = $(this).is(':checked');
        $('#packages-table tbody tr').each(function() {
            if (showUpdatesOnly && $(this).data('has-update') !== 'yes') {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    $('#updates-link').click(function(e) {
        e.preventDefault();
        $('a[href="#host_packages"]').tab('show');
        $('#updates-only').prop('checked', true).trigger('change');
    });
});
</script>

{% endblock %}
