{% load common %}
{% load patchman %}
<table cellspacing="0">
        <thead>
                <tr>
                   <th>Repo Name</th><th>Mirrors</th><th>Enabled</th><th>Security</th>
                </tr>
        </thead>
    <tbody>
    {% for repo in object_list %}
                <tr class="{% cycle row1,row2 %}">
                    <td><a href="{{ repo.get_absolute_url }}">{{ repo }}</a></td>
                    <td>{{ repo.mirror_set.count }}</td>
                    <td>{% yes_no_button_repo_en repo %}</td>
                    <td>{% yes_no_img repo.security %}</td>                      
                </tr>
    {% endfor %}
    </tbody>
</table>
