{% load common %}
{% load patchman %}
<form>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Repo Name</th>
      <th>Mirrors</th>
      <th>Enabled</th>
      <th>Security</th>
    </tr>
  </thead>
  <tbody>
    {% for repo in object_list %}
      <tr class="{% cycle row1,row2 %}">
        <td><a href="{{ repo.get_absolute_url }}">{{ repo }}</a></td>
        <td class="centered">{{ repo.mirror_set.count }}</td>
        <td class="centered">{% yes_no_button_repo_en repo %}</td>
        <td class="centered">{% yes_no_button_repo_sec repo %}</td>                      
      </tr>
    {% endfor %}
  </tbody>
</table>
</form>
