{% extends "base.html" %}
{% block site_name_title %}Patchman{% endblock %}
{% block site_name_header %}Patchman{% endblock %}
{% block usertools %}
        {% if not is_popup %}
        <div id="user-tools">
        {% if user.is_authenticated %}
        Welcome, <strong>{% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user }} {% endif %}</strong>
        / <a href="{% url logout %}">Log out</a>
            {% else %}
            Welcome, <strong>Guest</strong> /
        <a href="{% url login %}">Log In</a>
            {% endif %}
        </div>
        {% endif %}
{% endblock %}

{% block footer %}
<div id="footer">
    {% if debug %}
    <p>{{ sql_queries|length }} sql queries</p>
    
    <table>
    {% for q in sql_queries %}
    <tr>
    <td>{{ q.time }}</td>
    <td>{{ q.sql }}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
