{% extends "base_site.html" %}

{% load paginator common %}

{% block stylesheet %}changelists{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}colSM{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
<div class="module  {% if filter_bar %}filtered{% endif %}" id="changelist">
  {% searchform %}
  
  {% if filter_bar %}
  <div id="changelist-filter">
    <h2>Filter</h2> 					
    {{ filter_bar|safe }}	
  </div>
  {% endif %}
  {% gen_table page.object_list %}
  {% pagination page request %}
</div>
{% endblock %}
