{% extends "main.html" %}
{% load common %}
{% block title %}Patchman Dashboard{% endblock %}

{% block content_title %}{{ site.name }} Patch Management Dashboard{% endblock %}

{% block breadcrumbs %}<a href="/">Home</a>{% endblock %}
    
{% block content %}
<div id="content-main">
{% with lonely_oses.count as count %}
  {% if lonely_oses.count > 0 %}
  <div class="module">
    <div class="resultslink" id="r1"><a href="#">{{ count }} Operating Systems are not linked to any OS Group</a></div>
      <div class="results" id="r1">
        {% for os in lonely_oses %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ os.get_absolute_url }}">{{ os }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with norepo_osgroups.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r2"><a href="#">{{ count }} OS Groups have no repositories</a></div>
      <div class="results" id="r2">
        {% for osgroup in norepo_osgroups %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ osgroup.get_absolute_url }}">{{ osgroup }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with stale_hosts.count as count %}
  {% if count > 0 %}
  <div class="module">
   	<div class="resultslink" id="r3"><a href="#">{{ count }} Hosts have not reported in 2 weeks</a></div>
      <div class="results" id="r3">
        {% for host in stale_hosts %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ host.get_absolute_url }}">{{ host }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with reboot_hosts.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r4"><a href="#">{{ count }} Hosts require a reboot for security reasons (e.g. kernel update)</a></div>
      <div class="results" id="r4">
        {% for host in reboot_hosts %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{% url host_detail host.hostname %}">{{ host.hostname }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with secupdate_hosts.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r5"><a href="#">{{ count }} Hosts have security updates pending</a></div>
      <div class="results" id="r5">
        {% for host in secupdate_hosts %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{% url host_detail host.hostname %}">{{ host.hostname }} ({{ host.hostname__count }})</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with update_hosts.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r6"><a href="#">{{ count }} Hosts have normal updates pending</a></div>
      <div class="results" id="r6">
        {% for host in update_hosts %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{% url host_detail host.hostname %}">{{ host.hostname }} ({{ host.hostname__count }})</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with norepo_hosts.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r7"><a href="#">{{ count }} Hosts have no associated repositories</a></div>
      <div class="results" id="r7">
        {% for host in norepo_hosts %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ host.get_absolute_url }}">{{ host }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with stale_repos.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r8"><a href="#">{{ count }} Repositories have not updated for at least 2 weeks</a></div>
      <div class="results" id="r8">
        {% for repo in stale_repos %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ repo.get_absolute_url }}">{{ repo }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with failed_mirrors.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r9"><a href="#">{{ count }} Repositories have some mirrors that are failing</a></div>
      <div class="results" id="r9">
        {% for mirror in failed_mirrors %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ mirror.get_absolute_url }}">{{ mirror }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with failed_repos.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r10"><a href="#">{{ count }} Repositories where all mirrors are failing</a></div>
      <div class="results" id="r10">
        {% for repo in failed_repos %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ repo.get_absolute_url }}">{{ repo }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with unused_repos.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r11"><a href="#">{{ count }} Repositories are unused</a></div>
      <div class="results" id="r11">
        {% for repo in unused_repos %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ repo.get_absolute_url }}">{{ repo }}</a></div>
        {% endfor %}
        <div class="clearbrick"></div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% with norepo_packages.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r12"><a href="#">{{ count }} Installed Packages are not from any repository</a></div>
      <div class="results" id="r12">
        {% for package in norepo_packages %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ package.get_absolute_url }}">{{ package }}</a></div>
        {% endfor %}
        <div class="clearbrick">&nbsp;</div>
     </div>
  </div>
  {% endif %}
{% endwith %}
{% with orphaned_packages.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r13"><a href="#">{{ count }} Packages are orphaned (not from any repo, not installed anywhere)</a></div>
      <div class="results" id="r13">
        {% for package in orphaned_packages %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ package.get_absolute_url }}">{{ package }}</a></div>
        {% endfor %}
        <div class="clearbrick">&nbsp;</div>
     </div>
  </div>
  {% endif %}
{% endwith %}
{% with unprocessed_reports.count as count %}
  {% if count > 0 %}
  <div class="module">
    <div class="resultslink" id="r14"><a href="#">{{ count }} Reports have not yet been processed</a></div>
      <div class="results" id="r14">
        {% for report in unprocessed_reports %}
        <div class="brick" style="{% cycle background:#bfdddd,background:#deeeee %}">
        <a class="dark" href="{{ report.get_absolute_url }}"> {{ report.id }} </a></div>
        {% endfor %}
        <div class="clearbrick">&nbsp;</div>
     </div>
  </div>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
