name: Create release, build and upload release assets
on:
  push:
    tags:
      - 'v*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: git fetch --all
        run: |
          git fetch --all
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  update-version-and-changelog:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: git fetch --all
        run: |
          git fetch --all
      - name: git config
        run: |
          git config user.email furlongm@gmail.com
          git config user.name 'Marcus Furlong'
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt -y install python3-setuptools debhelper dh-exec dh-python git-buildpackage
      - name: Update repo version if required
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MSG: |
            auto-commit to update version
            skip-checks: true
        run: |
          echo "${{ github.ref }}" | cut -dv -f2 > VERSION.txt
          git add VERSION.txt
          git diff --quiet && git diff --staged --quiet || git commit -m "${COMMIT_MSG}"
          git push origin main
      - name: Update debian changelog
        env:
          EMAIL: furlongm@gmail.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MSG: |
            auto-commit to update debian changelog
            skip-checks: true
        run: |
          gbp dch --new-version=$(cat VERSION.txt)-1 --release --distribution=stable --spawn-editor=never --commit --commit-msg="${COMMIT_MSG}"
          git push origin main
  build-and-upload-deb-assets:
    needs: [create-release, update-version-and-changelog]
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm
    steps:
      - name: Install build dependencies
        run: |
          apt update
          export DEBIAN_FRONTEND=noninteractive
          apt -y install python3-setuptools debhelper dh-exec dh-python git-buildpackage
      - name: Fix sh so env vars propogate
        run: |
          rm /bin/sh
          ln -sf /bin/bash /bin/sh
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: git fetch --all
        run: |
          git config --global --add safe.directory /__w/patchman/patchman
          git fetch --all
      - name: Get version
        run: |
          export version=$(echo "${{ github.ref }}" | cut -dv -f2)
          echo "version=${version}" >> $GITHUB_ENV
      - name: Build deb packages
        env:
          EMAIL: furlongm@gmail.com
          COMMIT_MSG: |
            auto-commit
            skip-checks: true
        run: |
          export version=$(echo "${{ github.ref }}" | cut -dv -f2)
          echo "${version}" > VERSION.txt
          git add VERSION.txt
          git diff --quiet && git diff --staged --quiet || git commit -m "${COMMIT_MSG}"
          gbp dch --new-version=${version}-1 --release --distribution=stable --spawn-editor=never --commit --commit-msg="${COMMIT_MSG}"
          git tag --delete v${version}
          git tag v${version}
          gbp buildpackage --git-upstream-tree=${{ github.ref }} -uc -us
      - name: Upload deb assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            ../python3-patchman_${{ env.version }}-1_all.deb
            ../patchman-client_${{ env.version }}-1_all.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-and-upload-rpm-assets:
    needs: [create-release, update-version-and-changelog]
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    steps:
      - name: Install build dependencies
        run: |
          dnf -y install epel-release
          dnf -y install rpm-build python3 python3-setuptools git
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: git fetch --all
        run: |
          git config --global --add safe.directory /__w/patchman/patchman
          git fetch --all
      - name: Get version
        run: |
          export version=$(echo "${{ github.ref }}" | cut -dv -f2)
          echo "version=${version}" >> $GITHUB_ENV
      - name: Build rpm packages
        run: |
          python3 setup.py bdist_rpm --python=/usr/bin/python3
          rpmbuild -bb patchman-client.spec
      - name: Upload rpm assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            dist/patchman-${{ env.version }}-1.noarch.rpm
            dist/noarch/patchman-client-${{ env.version }}-1.noarch.rpm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  upload-package-to-pypi:
    needs: update-version-and-changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Set version
        run: |
          echo "${{ github.ref }}" | cut -dv -f2 > VERSION.txt
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python3 setup.py sdist bdist_wheel
          twine upload dist/*
